.contents-row {
  margin: 0 auto;
  height: 700px;
  width: 470px;
  margin-top: 50px;
}

h2 {
  font-size: 25px;
}

.field {
  // height: 30px;
}

input[type="submit"] {
  margin: 15px 0;
  background-color: #FFFFFF;
  height: 40px;
  width: 70px;
  color: gray;

}